<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
  <title>Next UI Demo</title>

  <link rel="stylesheet" href="main.css">
  <script src="vue.min.js"></script>
  <script src="./../index.js"></script>
</head>
<body>
<div id="app">
  <div class="section">
    <input type="file" accept="image/*" capture="camera">
  </div>
  <div class="section">
    <div>
      <div style="margin-bottom: 10px;">实现0.5px的边框，10px的文字，兼容ios+安卓</div>
      <tag text="我是内容一"></tag>
      <tag text="我是文字内容" type="warn" style="margin-left: 10px;"></tag>
    </div>
    <br>
    <tag text="我是文字内容" flat></tag>
  </div>
  <div class="section">
    <div @click="showLandscape=true;">弹窗</div>
    <md-landscape v-model="showLandscape">
      <div slot="header">
        <img src="https://bsb-mbp.github.io/assets/landscape-update-banner.png" alt="" width="100%">
      </div>
      <div slot="content">
        版本3.5.8
        <br>
        1、【优化】登录时刷脸通不过提供了短信验证码备用认证，在此对因刷脸识别老不通过的客户致以诚挚的歉意；
        <br>
        2、【优化】更新版本时因苹果本身机制问题需要删除App后重新安装进行了优化，在此对因新版本不能登录卡住的客户致以诚挚的歉意；
        <br>
        3、【优化】修正了一些已知的问题。
      </div>
      <div slot="footer" style="padding: 20px 0;">
        <div style="background-image: linear-gradient(-136deg, #FFBF6C 0%, #FF8B3A 100%); border-radius: 100px;
            font-size: 18px; color: #FFFFFF; text-align: center; height: 48px; line-height: 48px;
            width: 200px; margin: 0 auto;"
             @click="alert('点了升级')">
          立即升级
        </div>
      </div>
    </md-landscape>
  </div>
  <div class="section">
    <div @click="showFullScreenLandscape=true;">全屏压屏</div>
    <md-landscape v-model="showFullScreenLandscape" full-screen title="我是标题">
      <div slot="content">
        <div style="line-height: 26px;">
          预授予额度是针对优质客户专门匹配的信用贷款额度，您可通过手机银行直接在线办理、签约、提款。
          <br>
          1、预授信额度在通知您之日起30天内有效，请及时办理审批及提款；
          <br>
          2、预授信额度以实际审批为准；
          <br>
          3、预授信额度期限最长1年。
        </div>
      </div>
    </md-landscape>
  </div>
  <div class="section">
    <marquee text="你有一条新短消息请注意查收你有一条新短消息请注意查收"></marquee>
  </div>
  <div class="section no-padding">
    <card-cell :list="cardList" />
  </div>
  <div class="section no-padding">
    <card-cell :list="cardList" layout="compact-display" :selected-index="4" />
  </div>
  <div class="section no-padding">
    <card-cell :list="cardList" layout="compact-action" action-title="基金赎回至" />
  </div>
  <div class="section no-padding">
    <card-cell :list="cardList" layout="simple" />
  </div>
  <div class="section no-padding">
    <card-cell :list="cardList" layout="mini" />
  </div>
  <div class="section no-padding">
    <card-cell :list="cardList" layout="mini" :is-switchable="false" :selected-index="4" />
  </div>
  <div class="section">
    <timeline
      :steps="steps"
      direction="vertical"
    />
  </div>
  <div class="section">
    <timeline
      :steps="stepsHorn"
      transition
    />
    <button
      style="margin-top: 10px;"
      @click="stepsHorn[2].SysNo = '0'; stepsHorn[4].SysNo = '1'"
    >
      go step 5
    </button>
  </div>
  <div class="section">
    <button @click="showPicker">
      弹出Picker
    </button>
  </div>
</div>
<script>
  Vue.use(window.nextUI.timeline);
  Vue.use(window.nextUI.picker);
  Vue.use(window.nextUI.landscape);
  new Vue({
    el: '#app',
    components: {
      [window.nextUI.cardCell.name]: window.nextUI.cardCell,
      [window.nextUI.marquee.name]: window.nextUI.marquee,
      [window.nextUI.tag.name]: window.nextUI.tag
    },
    data() {
      return {
        showFullScreenLandscape: false,
        showLandscape: false,
        steps: [
          {timeFlag: '2019-01-07', timeFlagMsg: '购买日期'},
          {timeFlag: '02-07', timeFlagMsg: '确认中'},
          {timeFlag: '03-17', timeFlagMsg: '起息日', SysNo: '1'},
          {timeFlag: '04-27', timeFlagMsg: '下一起息日'},
          {timeFlag: '06-12', timeFlagMsg: '下一到期日'}
        ],
        stepsHorn: [
          {timeFlag: '01.07', timeFlagMsg: '购买日期'},
          {timeFlag: '02.07', timeFlagMsg: '确认中'},
          {timeFlag: '03.17', timeFlagMsg: '起息日', SysNo: '1'},
          {timeFlag: '06.12', timeFlagMsg: '下一起息日'},
          {timeFlag: '06.12', timeFlagMsg: '下一到期日'}
        ],
        picker: null,
        cardList: [{
          'E_ACCOUNT_TYPE': '0004',
          'E_ACCT_NO': '50000000000000668655',
          'E_ACTP_FLAG': '2',
          'E_ACCOUNT_BALANCE': '0.00',
          'E_AVAILABLEAMOUNT': '0.00',
          'E_CARD_NO': '62176027080005011',
          'E_ISSUE_BRANCH': '0002',
          'E_CARD_STATE': '01',
          'E_ID_VERFIED': 'N'
        }, {
          'E_ACCOUNT_TYPE': '0004',
          'E_ACCT_NO': '50000000000000663030',
          'E_ACTP_FLAG': '3',
          'E_ACCOUNT_BALANCE': '0.00',
          'E_AVAILABLEAMOUNT': '0.00',
          'E_CARD_NO': '62176022460000054',
          'E_ISSUE_BRANCH': '0101',
          'E_CARD_STATE': '01',
          'E_ID_VERFIED': 'N'
        }, {
          'E_ACCOUNT_TYPE': '0004',
          'E_ACCT_NO': '50000000000000668663',
          'E_ACTP_FLAG': '2',
          'E_ACCOUNT_BALANCE': '0.00',
          'E_AVAILABLEAMOUNT': '0.00',
          'E_CARD_NO': '62176027080005029',
          'E_ISSUE_BRANCH': '0002',
          'E_CARD_STATE': '01',
          'E_ID_VERFIED': 'N'
        }, {
          'E_ACCOUNT_TYPE': '0004',
          'E_ACCT_NO': '50000000000000667943',
          'E_ACTP_FLAG': '2',
          'E_ACCOUNT_BALANCE': '7962457.49',
          'E_AVAILABLEAMOUNT': '7952457.48',
          'E_CARD_NO': '62176056080010283',
          'E_ISSUE_BRANCH': '1401',
          'E_CARD_STATE': '01',
          'E_ID_VERFIED': 'N'
        }, {
          'E_ACCOUNT_TYPE': '0004',
          'E_ACCT_NO': '50000000000000650526',
          'E_ACTP_FLAG': '1',
          'E_ACCOUNT_BALANCE': '79355397.07',
          'E_AVAILABLEAMOUNT': '75593297.07',
          'E_CARD_NO': '62176022030539284',
          'E_ISSUE_BRANCH': '0101',
          'E_CARD_STATE': '01',
          'E_ID_VERFIED': 'Y'
        }, {
          'E_ACCOUNT_TYPE': '0004',
          'E_ACCT_NO': '50000000000000667357',
          'E_ACTP_FLAG': '2',
          'E_ACCOUNT_BALANCE': '30.00',
          'E_AVAILABLEAMOUNT': '30.00',
          'E_CARD_NO': '62176056080010085',
          'E_ISSUE_BRANCH': '1401',
          'E_CARD_STATE': '01',
          'E_ID_VERFIED': 'N'
        }].map(item => ({
          cardType: item.E_ACTP_FLAG,
          cardNo: item.E_CARD_NO,
          balance: item.E_ACCOUNT_BALANCE,
          availableBalance: item.E_AVAILABLEAMOUNT
        }))
      };
    },
    methods: {
      pickerConfirm() {
        debugger
      },
      pickerCancel() {
        debugger
      },
      showPicker() {
        if (!this.picker) {
          this.picker = this.$createPicker({
            $events: {
              confirm: this.pickerConfirm,
              cancel: this.pickerCancel
            },
            title: '请选择',
            data: [
              [
                {text: '包商银行', value: 1},
                {text: '招商银行西二旗支行', value: 2},
                {text: '中国工商银行包头东河区铁西支行', value: 3},
                {text: '建设银行', value: 4},
                {text: '中国农业银行', value: 5},
                {text: '交通银行', value: 6},
                {text: '包头市农行银行', value: 7},
                {text: '中国银行', value: 8}
              ],
              [
                {text: '包商银行', value: 1},
                {text: '招商银行西二旗支行', value: 2},
                {text: '中国工商银行包头东河区铁西支行', value: 3},
                {text: '建设银行', value: 4},
                {text: '中国农业银行', value: 5},
                {text: '交通银行', value: 6},
                {text: '包头市农行银行', value: 7},
                {text: '中国银行', value: 8}
              ]
            ]
          });
        }
        this.picker.show();
      },
      showCubePicker() {
        if (!this.cubePicker) {
          this.cubePicker = this.$createCubePicker({
            title: '请选择',
            data: [
              [
                {text: '包商银行', value: 1},
                {text: '招商银行西二旗支行', value: 2},
                {text: '中国工商银行包头东河区铁西支行', value: 3},
                {text: '建设银行', value: 4},
                {text: '中国农业银行', value: 5},
                {text: '交通银行', value: 6},
                {text: '包头市农行银行', value: 7},
                {text: '中国银行', value: 8}
              ],
              [
                {text: '包商银行', value: 1},
                {text: '招商银行西二旗支行', value: 2},
                {text: '中国工商银行包头东河区铁西支行', value: 3},
                {text: '建设银行', value: 4},
                {text: '中国农业银行', value: 5},
                {text: '交通银行', value: 6},
                {text: '包头市农行银行', value: 7},
                {text: '中国银行', value: 8}
              ]
            ]
          });
        }
        this.cubePicker.show();
      },
      showCascadePicker() {
        if (!this.cascadePicker) {
          this.cascadePicker = this.$createCascadePicker({
            title: '请选择',
            data: [
              {
                value: 1,
                text: '包商银行',
                children: [
                  {
                    value: 11,
                    text: '北京',
                    children: [
                      {value: 111, text: '小营路支行'},
                      {value: 112, text: '大屯路支行'}
                    ]
                  },
                  {
                    value: 12,
                    text: '包头',
                    children: [
                      {value: 121, text: '东河区西阁外支行'},
                      {value: 122, text: '青山区幸福路支行'},
                      {value: 123, text: '昆都仑区友谊大街支行'}
                    ]
                  },
                  {
                    value: 13,
                    text: '呼和浩特',
                    children: [
                      {value: 131, text: '赛罕区支行'},
                      {value: 132, text: '回民区支行'},
                      {value: 133, text: '新城区支行'}
                    ]
                  }
                ]
              },
              {
                value: 2,
                text: '中国工商银行-ICBC-95555',
                children: [
                  {
                    value: 21,
                    text: '上海',
                    children: [
                      {value: 211, text: '浦东支行'},
                      {value: 212, text: '浦西支行'}
                    ]
                  },
                  {
                    value: 22,
                    text: '北京',
                    children: [
                      {value: 221, text: '北京西二旗支行'},
                      {value: 222, text: '北京回龙观支行'},
                      {value: 223, text: '北京小营支行'}
                    ]
                  },
                  {
                    value: 23,
                    text: '西安',
                    children: [
                      {value: 231, text: '碑林区西大街支行'},
                      {value: 232, text: '雁塔区西安电子科技大学支行'},
                      {value: 233, text: '长安区郭杜镇支行'}
                    ]
                  }
                ]
              }
            ]
          });
        }
        this.cascadePicker.show();
      }
    }
  });
</script>
</body>
</html>
